
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container{
    background-color: #ecf0f1;
    width: 700px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px #000;
    border-radius: 10px;
}

.left-box{
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #00d2d3;
    border-radius: 10px 0px 0px 10px;
}

.left-box h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color:#ecf0f1;
    font-weight: 750;
    letter-spacing: 3px;
}

.p-g-t{
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 30vh;
}

.p-g-t h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0px;
}

.content .right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 64vw;
    min-height: 50vh;
}

.right-box input{
    margin: 10px 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 30px;
    font-size: 0.9rem;
}

.right-box button{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: #00d2d3;
    color: #ecf0f1;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.result{
    position: absolute;
    bottom: 182px;
    width: 250px;
    height: 50px;
    background-color: #01a3a4;
    border-radius: 0px 0px 0px 10px;
}

.result h2{
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    color: #ecf0f1;
    font-weight: 900;
    letter-spacing: 3px;
}

@media screen and (max-width:500px){
    body{
        display: grid;
        place-content: space-evenly;
        min-height: 100vh;
    }
    
    .container{
        background-color: #ecf0f1;
        width: 460px;
        height: 406px;
        box-shadow: 0px 10px 10px 0px #000;
        border-radius: 10px;
    }

    .left-box{
        position: absolute;
        width: 160px;
        height: 319px;
        background-color: #00d2d3;
        border-radius: 10px 0px 0px 10px;
    }
    
    .left-box h1{
        margin-top: 50px;
        text-align: center;
        font-size: 2.5rem;
        color:#ecf0f1;
        font-weight: 750;
        letter-spacing: 3px;
    }
    
    
    .content .right-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 105vw;
        min-height: 46vh;
    }
    
    .right-box input{
        margin: 20px 0px;
        width: 170px;
        height: 20px;
        padding: 15px;
        outline: none;
        border: 0;
        border-radius: 30px;
        font-size: 0.9rem;
    }
    
    
    .result{
        position: absolute;
        bottom: 220px;
        width: 160px;
        height: 88px;
        background-color: #01a3a4;
        border-radius: 0px 0px 0px 10px;
    }
    
}